@use '../variables'
@use '../mixins'

img
  max-width: 350px

section
  width: min(90vw, 1120px)
  padding: 30px 10px 0
  margin: 0 auto
  
  display: flex
  flex-direction: column
  gap: 5px

  .title
    font-size: variables.$spacing-lg

  h1
    font-size: 3rem
    font-weight: 700

  .dashed-text
    color: variables.$rosaria-4-hex

  .avatar-contact
    display: flex
    flex-direction: column
    align-items: center  
    gap: 0.75rem

    span
      text-shadow: 2px 2px variables.$rosaria-1-hex
      font-size: 1.25rem
      font-weight: 700

    div
      align-items: center
      display: flex
      gap: 1.25rem

      .about
        background-color: variables.$rosaria-4-hex
        border: 1px solid

      a
        background-color: variables.$rosaria-1-hex
        padding: 0.75rem
        border-radius: variables.$spacing-sm
        font-size: 0.875rem
        font-weight: 500

  .box
    margin-top: 20px
    text-align: -webkit-center

    .social
      @include mixins.flexbox($flex: space-evenly)
      gap: variables.$spacing-md
      width: 100%

    .contact
      background-color: variables.$rosaria-1-hex
      padding: 1rem 2.5rem
      border-radius: 8px
      font-weight: 500

      &:hover
        color: variables.$rosaria-3-hex
        background-color: variables.$rosaria-4-hex

    .content
      margin-bottom: variables.$spacing-lg

      .options-direct
        display: flex
        justify-content: center
        gap: variables.$spacing-md
        margin-top: variables.$spacing-lg

        a
          background-color: variables.$rosaria-1-hex
          padding: 0.75rem
          border-radius: variables.$spacing-sm
          font-size: 0.875rem
          font-weight: 500
        
        a:last-child
          background-color: variables.$rosaria-4-hex
          border: 1px solid
      
    span
      font-size: 0.95rem

    .app-link
      line-height: variables.$spacing-lg
      margin-right: .25rem

      &:hover
        color: variables.$rosaria-4-hex

    .project
      margin-bottom: variables.$spacing-sm

      img
        display: block
        border-radius: 5px

    @media (min-width: 600px)
      @include mixins.flexbox($flex: space-evenly)
      .content
        margin: 0
        width: 100%

      .project
        margin: 0 0.5rem
      
      .social
        margin-top: variables.$spacing-md