$font-stack: "Inter", sans-serif

/* Color Theme Swatches in Hex */
$rosaria-1-hex: #8C0F31
$rosaria-2-hex: #59162F
$rosaria-3-hex: #FAF8F9
$rosaria-4-hex: #372531
$rosaria-5-hex: #160B15

$spacing-sm: .5rem
$spacing-md: 1rem
$spacing-lg: 2rem

$header-height: 4.5rem
$footer-height: 8rem