$font-stack: "Inter", sans-serif

/* Color Theme Swatches in Hex */
$rosaria-1-hex: #8C0F31
$rosaria-2-hex: #59162F
$rosaria-3-hex: #FAF8F9
$rosaria-4-hex: #372531
$rosaria-5-hex: #160B15

$spacing-sm: 8px
$spacing-md: 16px
$spacing-lg: 32px

$header-height: 4.5rem

$sm: 37.5em
$md: 48em
$lg: 64em
$xl: 75em