header {
  position: fixed;
  width: 100%;
}

.header__container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 1.5rem 3rem 0rem;
  position: relative;

  display: flex;
  justify-content: space-between;
}

.header__container h1 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.header__container p {
  color: #f2f2f280;
  font-size: 0.75rem;
}

.header__menu--icon {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.mobile-menu {
  display: none;
}

.mobile-menu.open {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);

  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.header__menu ul {
  gap: 3rem;
  margin-top: 7rem;
  flex-direction: column;
}

@media (min-width: 850px) {
  .header__menu--icon {
    display: none;
  }

  .header__menu ul {
    flex-direction: row;
    margin-top: unset;
  }

  .header__menu li {
    transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: transparent;
    cursor: pointer;

    position: relative;
    border: none;
    border-radius: 1.5rem;

    a {
      width: 6.5rem;
      height: 3rem;
      gap: 5px;
      justify-content: center;
    }
  }

  .header__menu li:last-child a {
    width: auto;
    padding: 1rem 1.85rem;
  }

  .header__menu li:last-child div {
    position: absolute;
    right: 10px;
  }

  .header__menu li:hover {
    background-color: var(--neutral-dark);
  }

  .mobile-menu,
  .mobile-menu.open {
    display: block;
    position: unset;
    width: unset;
    min-height: unset;
  }
}
